
table.multicrud-table .form-item {
  margin-top:0;
  margin-bottom:0;
}

table.multicrud-table input.form-text,
table.multicrud-table select,
table.multicrud-table textarea {
  width:100%;
}

table.multicrud-table .form-item {
  padding-right:6px;  /* compensate the 100% width */
}

